<!-- banner-bottom -->
	<div class="banner-bottom">
	<div class="container">
		<div class="banner-bottom-left">
			<h4>CARDIOVASCULAR EXERCISE</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Cras euismod justo sit amet porttitor viverra. 
			In hac habitasse platea dictumst. In cursus, massa id aliquet volutpat,
			turpis dui fermentum purus, tempor rhoncus mauris urna sed tortor.
			<span>Aliquam in dolor eu ipsum elementum auctor vitae eget felis. 
			Integer feugiat rutrum accumsan. Donec velit eros, eleifend vitae nisi nec,
			mattis auctor dui. Aliquam erat volutpat.
			Curabitur eu felis ac augue mollis auctor hendrerit ut velit. 
			Maecenas tempus viverra sollicitudin.</span></p>
			<div class="get">
				<a href="#">GET DEMO</a>
				
				
			</div>
			<div class="buy">
				<a href="#">BUY NOW</a>	
				
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="banner-bottom-right">
			<div class="fig">
				<img src="assets/images/2.png" alt=" " />
			</div>
			<div class="fig1">
				<img src="assets/images/3.png" alt=" " />
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>
	</div>	
	<div class="watch-demo">
	<div class="container">
		<div class="banner-bottom-right1">
			<h4>GOOD FOR HEALTH</h4>
			<p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			Cras euismod justo sit amet porttitor viverra. In hac 
			habitasse platea dictumst. In cursus, massa id aliquet volutpat,
			turpis dui fermentum purus, tempor rhoncus mauris urna sed tortor.
			<span> Aliquam in dolor eu ipsum elementum auctor vitae eget felis. 
			Integer feugiat rutrum accumsan.</span></p>
			<div class="watch">
				<a href="#">WATCH DEMO</a>
			</div>
		</div>
		<div class="banner-bottom-left1">
			<div class="fig">
				<img src="assets/images/6.png" alt=" " />
			</div>
			<div class="fig1">
				<img src="assets/images/7.png" alt=" " />
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>
	</div>	
		<div class="banner-bottom">
	<div class="container">
		<div class="banner-bottom-left">
			<h4>CARDIOVASCULAR EXERCISE</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Cras euismod justo sit amet porttitor viverra. 
			In hac habitasse platea dictumst. In cursus, massa id aliquet volutpat,
			turpis dui fermentum purus, tempor rhoncus mauris urna sed tortor.
			<span>Aliquam in dolor eu ipsum elementum auctor vitae eget felis. 
			Integer feugiat rutrum accumsan. Donec velit eros, eleifend vitae nisi nec,
			mattis auctor dui. Aliquam erat volutpat.
			Curabitur eu felis ac augue mollis auctor hendrerit ut velit. 
			Maecenas tempus viverra sollicitudin.</span></p>
			<div class="watch">
				<a href="#">DOWNLOAD NOW</a>	
			</div>
		</div>
		<div class="banner-bottom-right">
			<div class="fig">
				<img src="assets/images/4.png" alt=" " />
			</div>
			<div class="fig1">
				<img src="assets/images/5.png" alt=" " />
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>
	</div>
<!-- //banner-bottom -->