<!-- header -->
	<div class="header">
	<div class="container">
		<div class="header-top-left" id="home">
			<ul>
				<li class="activ"><a href="#">LAST NOTICE</a></li>
				<li>Aliquam sit amet gravida ipsum,vitae scelerisque mi.Maecenas ullamcorper in 
					metus a ullamcorper.Sed dictum neque </li> 
			</ul>
		</div>
		<div class="header-top-right">
			<p>Phone Number:<span> 043-234-3453</span></p>
		</div>
		<div class="clearfix"> </div>
		<div class="head-logo">
			<a href="index.html"><span> </span></a>
		</div>
		<div class="header-top">
		
		<div class="navigation">
				 <span class="menu"></span> 
					<ul class="navig">
						<li><a href="index.html" class="act">Home</a></li>
						<li class="plan active"><a href="single.html">CLASSES</a>
							<ul class="sub-nav sub">
								<li><a href="single.html">DROP ITEM1</a></li>
								<li><a href="single.html">DROP ITEM2</a></li>
							</ul>
						</li>
						<li><a href="404.html">PAGES</a></li>
						<li><a href="news.html">NEWS</a></li>
						<li><a href="gallery.html">GALLERY</a></li>
						<li><a href="trainers.html">TRAINERS</a></li>
						<li><a href="contact.html">CONTACT</a></li>
						<li><a href="#" class="home-box">CONTACT</a></li>
						<div class="clearfix"> </div>
					</ul>
					
		</div>
		<div class="search">
				<form>
					<input type="text" placeholder="Type and search..." required=" ">
				</form>
		</div>
		<div class="clearfix"> </div>
		</div>
	</div>
	</div>
			<!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(" ul.navig").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->

<!-- //header -->
